* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}


@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; }
  }

@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; }
  }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; }
  }


.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


/* Termina Thin

font-family: termina, sans-serif;
font-weight: 100;
font-style: normal;

Termina Extra Light

font-family: termina, sans-serif;
font-weight: 200;
font-style: normal;

Termina Light

font-family: termina, sans-serif;
font-weight: 300;
font-style: normal;

Termina Regular

font-family: termina, sans-serif;
font-weight: 400;
font-style: normal;

Termina Medium

font-family: termina, sans-serif;
font-weight: 500;
font-style: normal;

Termina Demi

font-family: termina, sans-serif;
font-weight: 600;
font-style: normal;

Termina Bold

font-family: termina, sans-serif;
font-weight: 700;
font-style: normal;

Termina Heavy

font-family: termina, sans-serif;
font-weight: 800;
font-style: normal;

Termina Black

font-family: termina, sans-serif;
font-weight: 900;
font-style: normal; */


article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}


.topnav {
margin: 32px 0px 72px 0px;
}

.topnav li {
  display: inline;
  }

.topnav a {
  display: inline-block;
  padding: 12px 12px;
  -webkit-transition: color 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: color 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: color 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.topnav.active a {
  color:#fff;
}


h1, h2, h3, h4, h5, h6 {
  display: block;
}


h1 {
  font-size: 56px;
  color: #fff;
  line-height: 64px;
  font-weight: 800;
  }
@media (max-width: 767px) {
h1 {
    font-size: 48px;
    line-height: 56px;
     }
  }

h1.bigtitle {
  padding-bottom: 120px;
}

h2 {
  font-size: 36px;
  line-height: 48px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.24);
}
@media (max-width: 767px) {
h2 {
    font-size: 24px;
    line-height: 32px;
     }
  }


h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: left;
  color:#fff;
}

h4 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  text-align: left;
  color: rgba(255, 255, 255, 0.24);
}


h5 {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  text-align: left;
  color: #a7c1c0;
}

h5.tagline {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
  }

.overline {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: left;
    padding-bottom: 8px;
    color:#00cfbd;
  }

  .underline {
      text-transform: uppercase;
      letter-spacing: 2px;
      text-align: left;
      padding-top: 8px;
      color: rgba(167,193,192,.48);
    }


body {
  background: #042826;
  color: rgba(167,193,192,1);
  font-family: 'termina', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -webkit-animation: fadeIn 3000ms;
  -moz-animation: fadeIn 3000ms;
  animation: fadeIn 3000ms;
  }

  ::selection {
    background-color: rgba(255,255,255,.12);
  }

p {
  line-height: 24px;
  display: block;
  margin: 0;
  text-align: left;
  transition: height ,5s;
  -webkit-transition: height ,5s;
  -moz-transition: height ,5s;
}


a {
  color: rgba(167,193,192,.48);
  text-decoration: none;
}

a:hover, a:active {
  color: rgba(167,193,192,.72);
}


li {
  text-align: left;
  list-style-position: inside;
}

.works {
  padding-top: 72px;
}


.hero {
margin: 0 auto;
max-width: 1200px;
padding-top: 72px;
padding-bottom: 72px;
width: 100%;
}

@media (max-width:767px) {
  .hero h1 {
    font-size: 32px;
  }
}


.avatar {
  width: 12%;
  height: 12%;
  padding-bottom: 56px;
}

@media (max-width: 992px) {
  .avatar {
  width: 16%;
  height: 16%;
  padding-bottom: 36px;
     }
  }

@media (max-width: 767px) {
  .avatar {
  width: 24%;
  height: 24%;
  padding-bottom: 36px;
     }
  }


hr {
  margin: 0 auto;
  margin-bottom:96px;
  border: 0.5px solid rgba(255, 255, 255, 0.24);
  max-width: 1200px;
}


.cv-wrapper {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
}

@media (max-width:767px) {
  .cv-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.cv-wrapper > div {
  width:50%;
  padding: 24px;
  padding-bottom: 72px;
}
@media (max-width:767px) {
  .cv-wrapper > div {
    width:90%;
    padding-bottom: 48px;
  }
}

.skillset {
  margin: 0 auto;
  background-color: #e5eeed;
  font-size: 72px;
  font-weight: 700;
  padding: 120px 48px 120px 48px;
  line-height: 104px;
  color:#a7c1c0;
  width:100%;
  text-align: center;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

span {
  text-decoration: none;
}

span.dot {
    color:#00cfbd;
}

.btn {
  font-family: 'termina', sans-serif;
  color: #00cfbd;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .8px;
  line-height: 24px;
  margin: 96px 0px;
  text-transform: uppercase;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #042826;
}

.btn-download {
    border: 2px solid #00cfbd;
    margin: 96px 0px;
}

.btn-download:hover {
    background-color:rgba(0, 207, 189, 1);
    color: #042826;
}



@media (max-width:767px) {
  .skillset {
    width:100%;
    font-size: 40px;
    font-weight:700;
    line-height: 56px;
    padding: 72px 24px 72px 24px;
  }
}

.experience {
  padding: 0 0 72px 0;
}

.lang > div {
  max-width: 32%;
}

.sectionTitle {
  width: 100%;
}

.sectionTitle h1 {
  color: rgba(167,193,192,1);
}

.social {
  margin: auto;
  text-align: center;
}

.social li {
  display: inline;
  }

.social a {
  display: inline-block;
  padding: 12px 12px;
  color:#fff;
  -webkit-transition: color 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: color 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: color 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.social a:hover {
  color: rgba(167,193,192,.48);
}

.jancock {
  color: rgba(167,193,192,.48);
  text-align: center;
}

.backtotop {
margin-top: 72px;
}


.thumbs {
  position: relative;
  width: 32%;
  padding: 12px;
}


@media (max-width: 992px) {
  .thumbs {
  width: 50%;
     }
  }

@media (max-width: 767px) {
  .thumbs {
  width: 100%;
  padding: 0px;
     }
  }


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #042826;
}

.thumbs:hover .overlay {
  opacity: .92;
}

.title {
  color: #fdf5d1;
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


footer {
  text-align: center;
  display: inline-block;
  margin-top: 72px;
  padding-bottom: 120px;
}
