* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  user-drag: none;
  user-select: none;
  /* -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none; */
}


@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; }
  }

@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; }
  }


@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; }
  }

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


/* Termina Thin

font-family: termina, sans-serif;
font-weight: 100;
font-style: normal;

Termina Extra Light

font-family: termina, sans-serif;
font-weight: 200;
font-style: normal;

Termina Light

font-family: termina, sans-serif;
font-weight: 300;
font-style: normal;

Termina Regular

font-family: termina, sans-serif;
font-weight: 400;
font-style: normal;

Termina Medium

font-family: termina, sans-serif;
font-weight: 500;
font-style: normal;

Termina Demi

font-family: termina, sans-serif;
font-weight: 600;
font-style: normal;

Termina Bold

font-family: termina, sans-serif;
font-weight: 700;
font-style: normal;

Termina Heavy

font-family: termina, sans-serif;
font-weight: 800;
font-style: normal;

Termina Black

font-family: termina, sans-serif;
font-weight: 900;
font-style: normal; */


article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}


.topnav {
margin: 32px 0px 0px 0px;
}

@media (max-width:359px) {
  .topnav {
    margin: 24px 0px 64px 0px;
    font-size:10px;
  }
}

.topnav li {
  display: inline;
  }

.topnav a {
  display: inline-block;
  padding: 12px;
  -webkit-transition: color 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: color 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: color 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.topnav.active a {
  color:#fff;
}


h1, h2, h3, h4, h5, h6 {
  display: block;
}

h1 {
  font-size: 56px;
  color: #fff;
  line-height: 64px;
  font-weight: 800;
  }
@media (max-width: 767px) {
h1 {
    font-size: 48px;
    line-height: 56px;
     }
  }


h1.bigtitle {
  padding-bottom: 120px;
}


h2 {
  font-size: 36px;
  line-height: 48px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.24);
}
@media (max-width: 767px) {
h2 {
    font-size: 24px;
    line-height: 32px;
     }
  }


h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: left;
  color:#fff;
}


h4 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  text-align: left;
  color: rgba(255, 255, 255, 0.24);
}


h5 {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  text-align: left;
}


.tagline {
    display: flex;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    padding-bottom: 16px;
    justify-content: center;
    color:#00B0ED;
  }


.overline {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: left;
    padding-bottom: 8px;
    color:#00B0ED;
  }


.underline {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: left;
    padding-top: 8px;
    color: rgba(255,255,255,.48);
  }


body {
  background: #0D203F;
  color: rgba(249,249,251,.64);
  font-family: 'termina', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  transition: background-color 1s ease;
  -webkit-font-smoothing: antialiased;
  -webkit-animation: fadeIn 3000ms;
  -moz-animation: fadeIn 3000ms;
  animation: fadeIn 3000ms;
  }


  ::selection {
    /* background-color: rgba(255,255,255,.16); */
    background-color: #00B0ED;
  }


p {
  line-height: 24px;
  display: block;
  margin: 0;
  text-align: left;
  transition: height ,5s;
  -webkit-transition: height ,5s;
  -moz-transition: height ,5s;
}


a {
  color: rgba(255,255,255,.48);
  text-decoration: none;
}


a:hover, a:active {
  color: rgba(255,255,255,1);
}


li {
  text-align: left;
  list-style-position: inside;
}


.works {
  margin-left:2%;
  margin-right:2%;
}

@media (max-width:767px) {
  .works {
    margin:0;
  }
}

.hero {
margin:0 auto;
max-width: 1280px;
margin-top: 120px;
margin-bottom: 120px;
width: 92%;
}

@media (max-width:767px) {
  .hero h1 {
    margin:0 auto;
    font-size: 32px;
    line-height: 40px;
    width: 90%;
  }
}

.hero.resume {
  margin-top: 96px;
  margin-bottom: 96px;
}

.hero.abt {
  margin-top: 96px;
  margin-bottom: 96px;
}

.abt-wrap {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  max-width: 1280px;
  justify-content: space-between;
  margin-bottom: 72px;
  padding: 0px 24px;
  width:100%;
}

.avtr {
  margin:0 auto;
  background-size: 160px;
  background-image: url("../img/avatar/avtr.500x500@2x.jpg");
  background-repeat: no-repeat;
  width:160px;
  height:160px;
  margin-bottom:36px;
  border-radius: 50%;
}

@media (max-width: 992px) {
  .avatar {
  padding-bottom: 24px;
     }
  }

@media (max-width: 767px) {
  .avatar {
  padding-bottom: 24px;
     }
  }


hr {
  margin: 0 auto;
  margin-top:48px;
  margin-bottom:48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 0.5px solid rgba(255, 255, 255, 0.12);
  max-width: 1232px;
}

.edu-wrap {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  max-width: 1280px;
  justify-content: space-between;
  margin-bottom: 72px;
  width:100%;
}

.edu-wrap > div {
  width:50%;
  padding:24px;
}


@media (max-width:767px) {
  .edu-wrap {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
}

.edu-wrap > div {
  width:50%;
}

@media (max-width:767px) {
  .edu-wrap > div {
    width:100%;
    padding-bottom: 48px;
  }
}

.lang-wrap {
  margin: auto;
  display: flex;
  flex-wrap: row;
  margin-top:120px;
  margin-bottom:120px;
  max-width: 1280px;
  width:100%;
}

@media (max-width:992px) {
  .lang-wrap {
    flex-direction: column;
    align-items: center;
  }
}


.xp-wrap {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  padding:24px;
}

@media (max-width:767px) {
  .xp-wrap {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
}

.xp-wrap > div {
  width:50%;
  padding-bottom: 72px;
}
@media (max-width:767px) {
  .xp-wrap > div {
    width:100%;
    padding-bottom: 48px;
  }
}


.skillset {
  margin: 0 auto;
  font-size: 72px;
  line-height:104px;
  font-weight: 700;
  padding: 48px;
  color:#FEF4DD;
  text-align: center;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
@media (max-width:767px) {
  .skillset {
    width:100%;
    font-size: 40px;
    font-weight:700;
    line-height: 56px;
    padding: 72px 24px 72px 24px;
  }
}

span {
  text-decoration: none;
}

span.dot {
    color:#00B0ED;
}


.btn {
  font-family: 'termina', sans-serif;
  color: #00B0ED;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .8px;
  line-height: 24px;
  height:48px;
  text-transform: uppercase;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: transparent;
}


.btn-download {
    border: 2px solid #00B0ED;
    margin: 96px 0px;
}

.btn-download:hover {
    color:#0D203F;
    background-color: #00B0ED;
}


.caption {
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  color: rgba(167, 193, 192, 0.48);
  margin-bottom: 32px;
}

.passport {
  margin:20px;
  background: rgba(255,255,255,.04);
  border-radius: 12px;
  max-width:400px;
}

.passport .overline {
  text-align: center;
  padding: 48px 0px;
}

.passport p {
  font-size: 12px;
  line-height: 16px;
  color:#fff;
  text-align:center;
  padding:48px 48px;
}
@media (max-width: 992px) {
  .passport p {
    padding: 48px 24px;
  }
}


.flag {
  margin:0 auto;
  width:120px;
  height:120px;
  background-size: 120px;
  background-repeat: no-repeat;
  margin-bottom:48px;
  border-radius: 50%;
}


.flag.tr {
    background-image: url("../img/resume/flags/tr.flag.svg");
}
.flag.uk {
    background-image: url("../img/resume/flags/uk.flag.svg");
}
.flag.de {
    background-image: url("../img/resume/flags/de.flag.svg");
}


.sectionTitle {
  width: 100%;
}

.sectionTitle h1 {
  color: rgba(167,193,192,1);
}

.social {
  margin: auto;
  text-align: center;
}

.social li {
  display: inline;
  }

.social a {
  display: inline-block;
  padding: 12px 12px;
  color:#fff;
  -webkit-transition: color 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: color 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: color 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.social a:hover {
  color: rgba(255,255,255,.48);
}

.jancock {
  color: rgba(255,255,255,.48);
  text-align: center;
}

.backtotop {
margin-top: 72px;
}


.thumbs {
  position: relative;
  width: 33%;
  padding:12px;
}


@media (max-width: 992px) {
  .thumbs {
  width: 50%;
     }
  }

@media (max-width: 767px) {
  .thumbs {
  width: 100%;
  padding: 0px;
     }
}

.overlay {
  overflow: hidden;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  height: 0;
  background-color: #0D203F;
  width: 100%;
  transition: .5s ease-in-out;
}


.thumbs:hover .overlay {
  height: 100%;
}


.title {
  color: rgba(255,255,255,0.32);
  font-size: 14px;
  text-transform: uppercase;
  line-height: 24px;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


.compWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin:48px;
}


.img-comp-container {
  position: relative;
  height: 450px; /*should be the same height as the images*/
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.img-comp-img img {
  display: block;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 36px;
  height: 36px;
  background-color: #00CFBD;
  border-radius: 50%;
}



/* panel styles */
.panel {
  /* min height incase content is higher than window height */
  /* min-height: 100vh; */
  /* display: flex;
  justify-content: space-around;
  align-items: center; */
  /* outline: 10px solid hotpink; */
}

/* colours */
.color-oxfordblue {
  background-color: #0D203F;
}
.color-cyanprocess {
  background-color: #00B0ED;
}
.color-papayawhip {
  background-color: #FEF4DD;
}
.color-cultured {
  background-color: #F9F9FB;
}


footer {
  text-align: center;
  display: inline-block;
  margin-top: 72px;
  padding-bottom: 120px;
}
