* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}


@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; }
  }

@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; }
  }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; }
  }


.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}


/* Termina Thin

font-family: termina, sans-serif;
font-weight: 100;
font-style: normal;

Termina Extra Light

font-family: termina, sans-serif;
font-weight: 200;
font-style: normal;

Termina Light

font-family: termina, sans-serif;
font-weight: 300;
font-style: normal;

Termina Regular

font-family: termina, sans-serif;
font-weight: 400;
font-style: normal;

Termina Medium

font-family: termina, sans-serif;
font-weight: 500;
font-style: normal;

Termina Demi

font-family: termina, sans-serif;
font-weight: 600;
font-style: normal;

Termina Bold

font-family: termina, sans-serif;
font-weight: 700;
font-style: normal;

Termina Heavy

font-family: termina, sans-serif;
font-weight: 800;
font-style: normal;

Termina Black

font-family: termina, sans-serif;
font-weight: 900;
font-style: normal; */


article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}


nav {
margin: 32px 0px 144px 0px;
}


h1, h2, h3, h4, h5, h6 {
  display: block;
}


h1 {
  font-size: 56px;
  color: #fff;
  line-height: 64px;
  font-weight: 800;
  }
@media (max-width: 767px) {
h1 {
    font-size: 48px;
    line-height: 56px;
     }
  }

h1.bigtitle {
  padding-bottom: 120px;
}

h2 {
  font-size: 36px;
  line-height: 48px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.24);
}
@media (max-width: 767px) {
h2 {
    font-size: 24px;
    line-height: 32px;
     }
  }



h3 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  text-align: left;
  color: rgba(255, 255, 255, 0.24);
}

h4 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  text-align: left;
  color: rgba(255, 255, 255, 0.24);
}


h5 {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  text-align: left;
  color: #a7c1c0;
}

h5.tagline {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
  }

.overline {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: left;
    padding-top: 12px;
    padding-bottom: 12px;
  }


body {
  background: #042826;
  color: #a7c1c0;
  font-family: 'termina', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -webkit-animation: fadeIn 3000ms;
  -moz-animation: fadeIn 3000ms;
  animation: fadeIn 3000ms;
  }

  ::selection {
    background-color: rgba(255,255,255,.12);
  }

p {
  line-height: 24px;
  display: block;
  margin: 0;
  text-align: left;
  color: rgba(255, 255, 255, 0.24);
  transition: height ,5s;
  -webkit-transition: height ,5s;
  -moz-transition: height ,5s;
}


a {
  color: rgba(255,255,255,1);
  background-color: transparent;
  text-decoration: none;
}

a:hover, a:active {
  color: rgba(255,255,255,.48);
}


li {
  text-align: left;
  list-style-position: inside;

}

.hero {
padding-top: 120px;
}

.avatar {
  width: 16%;
  height: 16%;
  padding-bottom: 72px;
}

@media (max-width: 767px) {
  .avatar {
  width: 24%;
  height: 24%;
     }
  }


hr {
  border: 0.5px solid rgba(255, 255, 255, 0.24);
  margin-top:56px;
  margin-bottom:56px;
}


.mainContainer {
  margin:0 auto;
  max-width: 1200px;
}


.xpContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}


.xpContainer > div {
  width:50%;
  padding: 24px;
}




.xpTitle {
  padding-top: 56px;
  padding-bottom: 56px;

}

.social {
  margin: auto;
  text-align: center;
}

.social li {
  display: inline;
  }

.social a {
      display: inline-block;
      padding: 12px 12px;
      font-size: 1em;
      font-weight: normal;
      -webkit-transition: color 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      -moz-transition: color 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      transition: color 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}


.jhancock {
  color:rgba(255,255,255,.48);
  text-align: center;
}

.backtotop {
margin-top: 72px;
}


.thumbs {
  position: relative;
  width: 32%;
  padding: 12px;
}


@media (max-width: 992px) {
  .thumbs {
  width: 50%;
     }
  }

@media (max-width: 767px) {
  .thumbs {
  width: 100%;
  padding: 0px;
     }
  }


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #042826;
}

.thumbs:hover .overlay {
  opacity: .92;
}

.title {
  color: #fdf5d1;
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


footer {
  text-align: center;
  display: inline-block;
  margin-top: 72px;
  padding-bottom: 120px;
}
